<div class="homepage">
  <div class="content">
    <h2>Welcome to ShopFlowPro</h2>
    <div class="buttons">
      <button routerLink="/service-list">Explore Services</button>
      <button routerLink="/create-new-service-order">Create New Service Order</button>
    </div>
    <div class="service-orders">
      <h3>Today's Service Orders</h3>
      <div class="order" *ngIf="todaysOrders.length === 0">
        <p>No service orders have been added today.</p>
      </div>
      <div class="order" *ngFor="let order of todaysOrders">
        <p>
          Order ID: {{ order.id }} - Service ID: {{ order.serviceId }} - 
          Customer: {{ order.customerFirstName }} {{ order.customerLastName }} - 
          VIN: {{ order.vin }}
        </p>
        <button [routerLink]="['/service-order-details', order.id]">View Details</button>
      </div>
    </div>
    <div class="footer">
      <button routerLink="/about">About</button>
      <button routerLink="/contact">Contact Us</button>
    </div>
  </div>
</div>
