<div class="mechanics-page">
  <div class="content">
    <h2>Our Mechanics</h2>
    <div class="mechanic-list">
      <!-- Loop through the mechanics array -->
      <div *ngFor="let mechanic of mechanics" class="mechanic">
        <div class="mechanic-details">
          <span><strong>Mechanic ID:</strong> {{ mechanic.id }}-</span>
          <span><strong>Name:</strong> {{ mechanic.name }}-</span>
          <span><strong>Specialty:</strong> {{ mechanic.specialty }}</span>
        </div>
        <button>View Profile</button>
      </div>
    </div>
  </div>
</div>
