<div class="mechanics-page">
  <div class="content">
    <h2>Our Mechanics</h2>
    <div class="mechanic-list">
      <!-- Loop through the mechanics array -->
      <div *ngFor="let mechanic of mechanics" class="mechanic">
        <div class="mechanic-details">
          <!-- Updated mechanic properties based on the new model -->
          <span><strong>Name:</strong> {{ mechanic.mechanic_first_name }} {{ mechanic.mechanic_last_name }}-</span>
          <span><strong>Mechanic ID:</strong> {{ mechanic.mechanic_id }}-</span>
        </div>

        <!-- Button to delete a mechanic -->
        <button (click)="deleteMechanic(mechanic.mechanic_id)">Delete</button>
      </div>
    </div>
  </div>
</div>
