<!-- 
 Initializes the input field for the search button and uses two way data binding with ngModel to bind the searchQuery
 to the input field from the user. Then established the search button that triggers with onSearch().
 Displays service order details based on results found, and provides the routerlink to view the details.
 If no results are found then display no results message
-->

<div class="search-page">
  <div class="content">
    <h2>Search Service Orders</h2>
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search by name, VIN, or service" />
      <button (click)="onSearch()">Search</button>
    </div>

    <div class="results" *ngIf="searchResults.length > 0">
      <div class="result" *ngFor="let order of searchResults">
        <div class="result-info">
          <span><strong>Order ID:</strong> {{ order.id }} </span>
          <span><strong>Service ID:</strong> {{ order.serviceId }} </span>
          <span><strong>Customer:</strong> {{ order.customer_first_name }} {{ order.customer_last_name }}</span>
        </div>
        <button [routerLink]="['/service-order-details', order.id]" class="view-details-btn">View Details</button>
      </div>
    </div>
    <div class="no-results" *ngIf="searchResults.length === 0">
      <p>No results found</p>
    </div>
  </div>
</div>
