<div class="about-us">
    <div class="content">
      <h2>About Us</h2>
      <p>
        Welcome to ShopFlowPro! We are a team dedicated to making managing your AutoBody shop as seemless as possible
        . Our platform allows you to manage mechanics and service orders in a user-friendly interface, 
        providing better service to your customers.
      </p>
      <p>
        Our mission is to simplify the automotive service experience, helping both customers and service providers.
      </p>
    </div>
  </div>
  